@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;600;700&display=swap');


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: 'Sora', sans-serif;
  background-color: #1f2026;
  color: #EFEFEF;
  overflow-x: hidden; 
  /* TODO: Figure out why this overflows */
}

.app-container{
  width: 100%;
  height: 100%;
}

.general-stats-bar{
  cursor: default;
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.stat-box {
  min-width: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  border-radius: 5px;
  /* Translucent background color */
  background-color: rgba(255, 255, 255, 0.2); /* Adjust alpha for transparency */
  /* Frosted glass effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* Subtle box-shadow for depth */
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.1);
  /* Border */
  /* Optional: Adding transition effect */
  transition: transform 0.2s ease-in-out;
}

.stat-box:hover {
  /* Optional: Add scale effect on hover */
  transform: scale(1.05);
}


.filters-bar{
  cursor: default;
  background-color: #28282F;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.dropdown-container{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  cursor: default;
  transform: translateY(-2px);
}

/* Styling for Select component */
.dropdown-filters {
  font-size: 14px;
  color: #3b2323;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  height: 35px;
  min-width: 150px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Hover state for Select component */
.dropdown-filters:hover {
  background-color: #e6e6e6;
  border-color: #aaa;
}

/* Styling for Option component */
.dropdown-option {
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}


/* Target the dropdown menu */
.MuiPopover-paper.MuiMenu-paper {
  /* Set the maximum height */
  max-height: 500px;
  max-width: 200px;
  /* Enable overflow handling */
  overflow-y: auto; /* Enable vertical scrolling */
  
  /* Optionally, you can add other styles if needed */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Define styles for the dashboard-layout class */
.dashboard-layout {
  padding: 5px;
  display: grid;
  width: 100%;
  height: calc(100% - 156px); /* Subtract the navbar heights from 100% of the viewport height */
  gap:0.75rem;
  
}

/* Define common styles for each grid item */
.dashboard-layout > * {
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, .8);
}


/* CHART CSS */
.chart-container .recharts-wrapper{
  padding: 5px;
}

.chart-container .recharts-surface {
  transform: translate(-9px, 3px);
}
.transform .recharts-surface {
  transform: translate(-9px, 3px);
}

.crime-distribution{
  padding: 5px;
  overflow-y: auto; /* Make sure to set the overflow property */
  overflow-x: hidden;
  /* Customize the WebKit-based scrollbar */
  ::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar */
      height: 8px; /* Set the height of the scrollbar for horizontal scrollbars */
  }
  ::-webkit-scrollbar-track {
      background: #2C2F36; /* Customize the track color */
  }
  ::-webkit-scrollbar-thumb {
      background: #676E7D; /* Customize the thumb color */
      border-radius: 4px; /* Add some border radius for rounded thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #555F77; /* Change thumb color on hover */
  }
  /* Customize the scrollbar in Firefox */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #676E7D #2C2F36; /* Set the thumb and track colors */

}

.heatmap {
  color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto; /* Make sure to set the overflow property */
  /* Customize the WebKit-based scrollbar */
  ::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar */
      height: 8px; /* Set the height of the scrollbar for horizontal scrollbars */
  }
  ::-webkit-scrollbar-track {
      background: #2C2F36; /* Customize the track color */
  }
  ::-webkit-scrollbar-thumb {
      background: #676E7D; /* Customize the thumb color */
      border-radius: 4px; /* Add some border radius for rounded thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #555F77; /* Change thumb color on hover */
  }
  /* Customize the scrollbar in Firefox */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #676E7D #2C2F36; /* Set the thumb and track colors */
}


.grid-cell{
  padding-top: 8px;
}
.title-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 16px;
}

.title.monthly-trend-title{
  display: flex;
  align-items: center;
}

.title.monthly-trend-title strong{
  margin-right: 8px;
}

.year-dropdown-container.monthly{
  margin-left: 7px;
}

.chart-container{
  padding-top: 5px;
}
.title.crime-dist{
  text-align: center;
}

.dropdown-container-month{
  display: flex;
  flex-direction: column;
  cursor: default;
  margin-left: 5px;
  transform: translateY(-2px);
}

/* Styling for Select component */
.dropdown-filters-month {
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(50, 51, 60, 0.5);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  height: 35px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-option-month{
  background-color: rgba(50, 51, 60, 0.5);
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-filters-month .MuiSelect-icon{
  color: white;
}
