/* Define styles for the dashboard-layout class */
.dashboard-layout {
    display: grid;
    width: 100%;
    height: calc(100% - 150px); /* Subtract the navbar height from 100% of the viewport height */
    
    gap:0.75rem;
    
  }
  
  /* Define common styles for each grid item */
  .dashboard-layout > * {
    background-color: #2d2d34;
    border-radius: 0.5rem;
    box-shadow: 0.15rem 0.2rem 0.15rem 0.1rem rgba(0, 0, 0, .8);
  }
